{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <!-- Icons --> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/>
    <!-- Stylesheet --> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header class="header">
        <h1>Games</h1>
        <div class="header-menu">
            <a href="{% url 'login' %}"><button class="secondaryButton">Login</button></a>
            <a href="{% url 'register' %}"><button class="primaryButton">Registrar</button></a>
        </div>
        <!-- <a href="{% url 'account' %}"><div class="profile"></div></a> -->
        <!-- <a href="/logout">Logout</a> -->
    </header>

    <!-- folter -->
    <section class="folder">
        <div>
            <p class="paragraph">Sua pontuação</p>
            <h1 class="pontuation">185</h1>
        </div>
        <div class="ranking">
            <div>
                <div class="image"></div>
                <div class="n2">
                    <p class="paragraph2">2º</p>
                </div>
            </div>
            <div class="position">
                <div class="image"></div>
                <div class="n1">
                    <p class="paragraph2">1º</p>
                </div>
            </div>
            <div>
                <div class="image"></div>
                <div class="n3">
                    <p class="paragraph2">3º</p>
                </div>
            </div>
        </div>
    </section>
    
    <h4>Selecione um jogo</h4>

    <!-- Games -->
    <div class="games">
        <div class="card">
            <p>Jogo da memória</p>
        </div>
        <div class="card">
            <p>Descubra a linguagem</p>
        </div>
        <div class="card">
            <p>Descubra a linguagem</p>
        </div>
        <div class="card">
            <p>Descubra a linguagem</p>
        </div>
        <div class="card">
            <p>Descubra a linguagem</p>
        </div>


    </div>











    
    <section>
    </section>
    <footer class="footer">

    </footer>
</body>

</html>