{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <h4>Games</h4>
        <div class="header-menu">
            <a href="{% url 'login' %}"><button class="secondaryButton">Login</button></a>
            <a href="{% url 'register' %}"><button class="primaryButton">Registrar</button></a>
        </div>
        <!-- <a href="{% url 'account' %}"><div class="profile"></div></a> -->
        <!-- <a href="/logout">Logout</a> -->
    </header>

    <!-- folter -->
    <section class="folder">
        <div class="container-pontuation">
            <div class="pontuation">
                <h1>185</h1>
                <p class="pontuation-text"> pontos</p>
            </div>
            <img src="../static/images/ilustration.svg" alt="Ilustração" class="image">
        </div>

        <div class="container-hanking">
            <div class="hanking">
                <div class="position">
                    <div class="position-ball" id="gold">
                        <p class="text-hanking">1</p>
                    </div>
                    <p>Daniel Lima</p>
                </div>

                <div class="position">
                    <div class="position-ball" id="silver">
                        <p class="text-hanking">2</p>
                    </div>
                    <p>Daniel Lima</p>
                </div>

                <div class="position">
                    <div class="position-ball" id="bronze">
                        <p class="text-hanking">3</p>
                    </div>
                    <p>Daniel Lima</p>
                </div>
            </div>
            <a href="" class="see-hanking">Ver mais</a>
        </div>


    </section>

    <!-- Games -->
    <section class="games">
        <h5>Selecione um jogo</h5>
        <div class="cards">
            <a href="{% url 'gameMemory' %}">
                <div class="card" id="gameMemory">
                    <i class="iconoir-question-mark" id="icon"></i>
                    <p class="card-text">Jogo da<br>memória</p>
                </div>
            </a>

            <a href="{% url 'gameLinguage' %}">
                <div class="card" id="gameLinguage">
                    <i class="iconoir-translate" id="icon"></i>
                    <p class="card-text">Descubra a linguagem</p>
                </div>
            </a>

            <a href="{% url 'gameLinguage' %}">
                <div class="card" id="gameHangman">
                    <i class="iconoir-emoji-quite" id="icon"></i>
                    <p class="card-text">Jogo da<br>forca</p>
                </div>
            </a>

            <a href="{% url 'gameLinguage' %}">
                <div class="card" id="gameWord">
                    <i class="iconoir-font-question" id="icon"></i>
                    <p class="card-text">Forme<br>palavras</p>
                </div>
            </a>

            <a href="{% url 'gameLinguage' %}">
                <div class="card" id="gameNumber">
                    <i class="iconoir-dice-six" id="icon"></i>
                    <p class="card-text">Descubra o<br>número</p>
                </div>
            </a>

            <a href="{% url 'gameLinguage' %}">
                <div class="card" id="gameWordle">
                    <i class="iconoir-font-question" id="icon"></i>
                    <p class="card-text">Ache a<br>palavra</p>
                </div>
            </a>
        </div>
    </section>

    <footer>
        <p class="copyright">© Todos os direitos reservados</p>
        <a href="{% url 'privacy' %}">Política de privacidade</a>
    </footer>
</body>

</html>