{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de privacidade</title>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}">
</head>

<body>
    <!-- Navegation -->
    <div class="nav-container" id="nav-container">
        <a id="back" onclick="history.back()">
            <i class="iconoir-arrow-left" id="icon"></i>
        </a>
        <div class="title">
            <p>Política de privacidade</p>
        </div>
    </div>
</body>

</html>