{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Política de privacidade</title>
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main>
        <button onclick="window.history.back();" class="btn-ghost">
            <i class="fa-solid fa-arrow-left"></i>
            Voltar
        </button>

        <h2 class="title-dark">Política de privacidade</h2>
        <p>BrainQuest</p>

        <p class="space">A Política de Privacidade da Empresa foi atualizada em novembro de 2024.</p>

        <p>
            Com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre                                
            desenvolvimento da personalidade da pessoa natural, a Empresa elaborou a presente                      
            Política de Privacidade, observadas as disposições da Lei Geral de Proteção de Dados                          
            Pessoais (LGPD) - Lei n° 13.709/2018. 
        </p>

        <p>
            É fundamental dedicar um momento para se familiarizar com nossas práticas de                        
            privacidade e fale conosco se tiver dúvidas. 
        </p>
        <p>
            Para nós é importante ser transparente sobre o tratamento dos dados pessoais dos Usuários 
            que utilizam os Serviços oferecidos pela Empresa, nos termos do Artigo 9º da LGPD. Esta 
            Política se aplica quando o Usuário utiliza os nossos Serviços.  
        </p>

        <!-- Veracidade -->
        <h4 class="title-green">Veracidade das informações</h4>
        <p>
            Toda e qualquer informação prestada pelo Usuário à Empresa, principalmente seus dados                        
            pessoais, deverão ser verídicos e não podem violar a legislação brasileira, principalmente à                          
            LGPD. Caso a Empresa verifique que as informações fornecidas sejam inverídicas, esta                        
            poderá excluir os dados pessoais, bem como encerrar a conta deste Usuário.
        </p>

        <!-- Dados pessoais -->
        <h4 class="title-green">O que são dados pessoais e dados sensíveis?</h4>
        <p>
            Vamos entender qual o objeto de proteção desta Política. Em primeiro lugar, é importante 
            saber que os “DADOS PESSOAIS” são informações que podem ser usadas para identificar 
            uma pessoa natural (física), sendo assim, dados de empresas (pessoas jurídicas) como 
            razão social e CNPJ não são abarcados por esta política. 
        </p>
        <p>
            Os “DADOS PESSOAIS SENSÍVEIS”, de acordo com a LGPD, consistem em informações                        
            sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou                          
            organização de caráter religioso, filosófico ou político, ou até mesmo dado referente à                          
            saúde ou à vida sexual, dado genético ou biométrico, e também são abarcados nesta                            
            política. 
        </p>

        <!-- Controladora -->
        <h4 class="title-green">Empresa como controladora</h4>
        <p>
            É importante informar que a Empresa figura como Controladora dos Dados Pessoais                        
            coletados. Mas o que isso significa? De acordo com a LGPD, a Empresa é responsável por                                
            tomar as decisões referentes ao tratamento dos Dados Pessoais de seus Usuários. 
        </p>

        <!-- Dados coletados -->
        <h4 class="title-green">Quais tipos de dados pessoais são coletados pela empresa?</h4>
        <p>
            Considerando que a Empresa oferece seus Serviços por meio de um web site, é                          
            necessário que a pessoa interessada em utilizar os Serviços da Empresa, em primeiro lugar,                            
            realize um cadastro. Esse cadastro inicial é chamado de Cadastro do Usuário.
        </p>
        <p>
            No Cadastro do Usuário são coletados os seguintes Dados Pessoais:  
        </p>

        <ul>
            <li>Nome;</li>
            <li>Email.</li>
        </ul>

        <p class="space">
            Referidos Dados Pessoais são coletados com a finalidade de identificar qual o contexto do                            
            Usuário em relação aos jogos educativos, de forma a permitir que a Empresa consiga oferecer                            
            conteúdo específico e apresentar Usuários com o mesmo perfil e as mesmas                        
            necessidades. 
        </p>

        <p>
            O nome completo é importante para identificar a pessoa do Usuário, além de indentificar 
            na classificação dos jogadores; o email é coletado para fim de identificação dos usúario,
            tanto quanto para oferecer um possível suporte do usuário
        </p>

        <p>
            É importante informar que os Dados Pessoais acima elencados são tratados, apenas e tão                            
            somente, com a finalidade de identificar o usuário e otimizar sua experiência com o uso do                                
            site 
        </p>

        <!-- Tratamento -->
        <h4 class="title-green">Por que a empresa trata os dados pessoais dos usuários?</h4>
        <p>
            O Cadastro de Usuário se submete à hipótese legal de execução do Contrato, ou seja, só é                                  
            possível a Empresa executar os Serviços contratados se o Usuário realizar o Cadastro de                            
            Usuário. Neste cenário, aplica-se o inciso VI do Artigo 7º da LGPD.
        </p>

        <!-- Dados sensíveis -->
        <h4 class="title-green">A empresa também pode coletar dados pessoais sensíveis?</h4>
        <p>
            Como o objeto da Empresa é eduacr jogadores com jogos relacionados a programação, conhecer 
            a fundo qual o Usuário é importante para que a Empresa possa oferecer seus serviços de maneira 
            mais adequada.
        </p>

        <!-- Armazenagem de dados -->
        <h4 class="title-green">Como a empresa armazena os dados pessoais?</h4>
        <p>
            A Empresa utiliza os serviços do <a href="https://firebase.google.com">Firebase</a>para 
            armazenar e hospedar seu aplicativo, utilizando a infraestrutura da Google. A Firebase trata 
            os dados pessoais nos termos da GDPR, conforme previsto em sua 
            <a href="https://policies.google.com/privacy?hl=pt-br">Política de Privacidade disponível</a>                    
            no site. Por essa razão, a eventual transferência internacional de dados pessoais pela Empresa
            para a Firebase obedece o inciso I do artigo 33 da LGPD.  
        </p>

        <!-- Processamento -->
        <h4 class="title-green">A empresa pode realizar processamento automático?</h4>
        <p>
            A Empresa utiliza as informações e os dados que o Usuário forneceu para fazer                            
            recomendações de conexões, conteúdos e recursos que possam ser úteis para o Usuário.                          
            Por exemplo, são utilizados dados e informações a respeito do Usuário para recomendar                          
            conexões de outros Usuários e recomendar conteúdo adequado. O Usuário manter seu                        
            perfil atualizado e correto ajudará a tornar essas recomendações mais precisas e                        
            relevantes. 
        </p>

        <!-- Duração -->
        <h4 class="title-green">Qual a duração do tratamento de dados pessoais pela empresa?</h4>
        <p>
            Os Dados Pessoais e os Dados Pessoais Sensíveis mencionados nesta Política serão                        
            tratados durante a execução dos Serviços oferecidos pela Empresa. Após o encerramento                        
            dos Serviços, por qualquer motivo, os Dados Pessoais permanecerão armazenados pela                      
            Empresa pelo período de até 3 anos. Tal período leva em consideração o prazo                            
            prescricional previsto no inciso V do § 3º do Artigo 206 do Código Civil. Portanto, a                                
            conservação dos Dados Pessoais por tal período, mesmo após o fim do período de                            
            tratamento pela Empresa, observa a hipótese prevista no inciso I do Artigo 16 da LGPD.                              
            Após referido prazo, a Empresa eliminará de seu repositório os Dados Pessoais do Usuário. 
        </p>

        <!-- Garentia de segurança -->
        <h4 class="title-green">Como a empresa garante a segurança das informações</h4>
        <p>
            Conforme previsto nos incisos VII e VIII do Artigo 6º da LGPD, que tratam do princípio da                                  
            segurança e prevenção, respectivamente, a Empresa utiliza os mais modernos recursos                      
            existentes na área de segurança da informação para o ambiente da internet, garantindo                          
            assim seu acesso de forma segura. 
        </p>
        <p>
            As informações transmitidas entre O Usuário e a Empresa passam por um processo de                            
            criptografia utilizando o SSL (Secure Sockets Layer), permitindo a decodificação dos dados,                        
            de forma legível, apenas para o Usuário e para nosso site e aplicativo.
        </p>
        <p>
            Assim, a cada acesso realizado, essa chave de segurança não pode ser decifrada por                            
            terceiros, sendo de uso exclusivo do site e aplicativo Empresa. Essa chave é a garantia de                                
            que o Usuário está operando em sistema seguro.
        </p>

        <!-- Browsers -->
        <h4 class="title-green">Quais são os browsers compatíveis com a segurança da informação da empresa?</h4>
        <p>
            A utilização de determinados browsers pode criar incompatibilidade com o sistema de                        
            segurança e recursos utilizados pela Empresa. Os browsers mais adequados para navegar                        
            são sempre os navegadores mais modernos e conhecidos (Google Chrome, Mozilla Firefox,                        
            Microsoft Edge). 
        </p>
        <p>
            Os browsers devem ser adquiridos com distribuidores autorizados, que podem garantir a                        
            autenticidade do software. Alguns distribuidores fornecem os browsers através da própria                      
            internet, por meio de download. 
        </p>
        <p>
            Todos os problemas referentes ao browser devem ser reportados aos seus respectivos                        
            fornecedores ou distribuidores. A Empresa não se responsabiliza por problemas causados                      
            pelo browser, ou por problemas oriundos da utilização de browser incompatível com                        
            navegação segura.
        </p>
        <p>
            Também não nos responsabilizamos pela não realização de operações que sejam                      
            decorrentes de fatos, atos ou omissões ocasionados por outros prestadores de serviços                        
            contratados pelo Usuário, tais como prestadores de serviços de telecomunicação, inclusive                      
            transmissão de dados via cabo ou fibras óticas, provedores de acesso à Internet ou, ainda,                              
            por falhas do terminal de acesso à Internet do Usuário, entre outros.
        </p>

        <!-- Cookies -->
        <h4 class="title-green">A empresa utiliza cookies?</h4>
        <p>
            A Empresa coleta dados que identifiquem sua visita no site ou aplicativo para lhe oferecer                              
            uma experiência melhor e personalizada, além de algumas informações, como tipo de                        
            navegador, resolução da tela e data de acesso, obtidos por meio de relatórios gerados via                              
            logs, rotinas javascript e cookies, este último também utilizado em relatórios estatísticos                        
            para aperfeiçoamento da navegação, dos serviços oferecidos e para contagem do número                        
            de visitantes e acessos, facilitando assim a definição do parque tecnológico instalado para                          
            o site.
        </p>
        <p>
            Caso o Usuário preencha voluntariamente algum formulário em nosso site, essas                      
            informações somente serão usadas para o propósito com o qual elas foram preenchidas e                            
            que estão esclarecidas na página de cada cadastro. Sob nenhuma circunstância seus                        
            dados serão fornecidos ou vendidos a terceiros.
        </p>

        <!-- Marketing -->
        <h4 class="title-green">A empresa utiliza seus dados para fins de marketing?</h4>
        <p>
            O site e aplicativo da Empresa não aceitam e nem fazem publicidade de outras marcas ou                                
            somente de parceiros. Os conteúdos exibidos em suas páginas são de finalidade editorial e                            
            caráter informativo. Os banners existentes são apenas para dar mais ênfase aos conteúdos                          
            que merecem maior atenção dos nossos Usuários.
        </p>

        <!-- Terceiros -->
        <h4 class="title-green">A empresa compartilha os dados coletaods com terceiros?</h4>
        <p>
            Observado o inciso V do Artigo 9º da LGPD, a Empresa informa que não compartilha, vende,                                
            aluga ou divulga qualquer informação de seus Usuários.
        </p>
        <p>
            O aplicativo da Empresa foi desenvolvido com a plataforma Firbase, para hospedar e                          
            armazenar os aplicativos desenvolvidos, utilizando a infraestrutura do Google. Neste                      
            sentido, o Firebas poderá ter acesso a determinadas informações inseridas no aplicativo 
            da Empresa. Fica consignado que tais empresas só acessarão os dados pessoais inseridos 
            no aplicativo da Empresa, se necessário, e nos estritos termos previstos na LGPD. 
        </p>

        <!-- Direitos -->
        <h4 class="title-green">Do direito do usuário, como titular dos dados pessoais</h4>
        <p>
            Conforme previsto no Artigo 18 da LGPD, é assegurado ao Usuário, a qualquer momento,                            
            mediante requisição à Empresa por meio do e-mail BrainQuest2k24@gmail.com, requerer:  
        </p>

        <ul class="space">
            <li>Confirmação da existência de tratamento dos Dados Pessoais;</li>
            <li>Acesso aos Dados Pessoais os quais a Empresa trata;</li>
            <li>Correção de dados incompletos, inexatos ou desatualizados;</li>
            <li>
                Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados
                em desconformidade com a LGPD;
            </li>
            <li>Portabilidade dos dados a outro fornecedor;</li>
            <li>
                Eliminação do Dados Pessoais tratados com o consentimento do Usuário, exceto 
                nas hipóteses previstas no Artigo 16 da LGPD;
            </li>
            <li>
                Informação das entidades públicas e privadas com as quais a Empresa realizou uso 
                compartilhado de dados;
            </li>
            <li>
                Informação sobre a possibilidade de não fornecer consentimento e sobre as 
                consequências negativa;
            </li>
            <li>
                Revogação do consentimento, quando aplicável. 
                Caso o Usuário queira ter a confirmação de existência ou o acesso aos seus Dados                              
                Pessoais, a Empresa providenciará em até 30 dias úteis, contado da data do requerimento do                              
                Usuário, tais informações em formato simplificado; e em até 15 dias, contado da data do                              
                requerimento do Usuário, uma declaração clara e completa, que indique a origem dos                          
                dados, a inexistência de registro, os critérios utilizados e a finalidade do tratamento,                          
                observados os segredos comercial e industrial.
            </li>
        </ul>

        <!-- ALterações -->
        <h4 class="title-green">Alterações nesta política de privacidade</h4>
        <p>
            Na hipótese de ocorrer qualquer alteração em relação à finalidade específica do tratamento                          
            de Dados Pessoais e Dados Pessoais Sensíveis prevista, ou na forma e duração do referido                              
            tratamento, na identificação da Empresa como controladora dos dados ou nas informações                        
            compartilhadas pela Empresa e sua finalidade, esta se compromete a informar aos                        
            Usuários, com destaque de forma específica do teor das alterações, conforme previsto no §                            
            6º do Artigo 8º da LGPD. 
        </p>

        <!-- Encarregado -->
        <h4 class="title-green">Encarregado da empresa</h4>
        <p>
            Caso o Usuário tenha qualquer dúvida em relação ao tratamento de seus Dados Pessoais                            
            ou queira exercer quaisquer de seus direitos como titular do dado pessoal, basta entrar em                              
            contato com o Encarregado da Empresa, o SR. Daniel Lima por meio do e-mail branQuest@gmail.com.
        </p>
    </main>
</body>
</html>