:root {
    
    /*Colors*/
    --primary-color: #0074ef;
    --hover-color: #0053ac;
    --sucess-color: #37a137;
    --error-color: #ff4747;
    --background-color: #ffffff;
    --background-hover-color: #c5c5c5;
    --alternative-color: #333333;
    --text-color: #333333;

    /*H4*/
    --h4-size: 2em;
    --h4-weight: bold;

    /*Paragraph*/
    --font-weight: 400;
    --font-size: 14px;

    /*Element*/
    --box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    --border-radius: 0.5em;

}