/* -------------------- Image -------------------- */

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.img-animation {
    animation: left 2s ease-in forwards, float 6s ease-in-out infinite;
}
