@import url("root.css");
@import url("animations.css");

/* -------------------- Header -------------------- */

header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.btn-icon {
  padding: 0px;
  width: 56px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
  padding: 0 var(--md);
}

.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
}

@media screen and (max-width: 600px) {
  h3 {
    display: none;
  }
}

/* -------------------- Container -------------------- */

.wrapper {
  box-sizing: content-box;
  width: 36em;
  padding: 2em 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

/*--------------------Controls--------------------*/

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-grey);
  top: 0;
}

/*--------------------Content--------------------*/

.num-of-tries-left {
  text-align: right;
  text-wrap: nowrap;
}

.num-of-tries-left span {
  font-size: 18px;
  user-select: none;
}

.container {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

#letter-container {
  margin: 32px 0 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.letters {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  background-color: var(--color-light);
  color: var(--color-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--xs);
  box-shadow: var(--boxshadow);

  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.letters:hover {
  box-shadow: none;
  transform: translateY(2px);
}

.letters:disabled {
  color: var(--color-grey-dark);
  background-color: var(--color-grey);
  border: none;
  box-shadow: none;
  transform: translateY(2px);
}

#userInputSection {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 24px;
  user-select: none;
  letter-spacing: 0%;
}

.used {
  background-color: var(--color-dark);
  font-size: 18px;
  color: var(--color-light);
  border: none;
  user-select: none;
}

/* -------------------- Results -------------------- */

.hide {
  display: none;
}

#result {
  text-align: center;
  gap: var(--md);
}

/* -------------------- Message -------------------- */

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--md);
  gap: var(--xs);
}

.win-msg {
  color: var(--color-success);
}

.lose-msg {
  color: var(--color-error);
}