@import url('root.css');
@import url('animations.css');

/* -------------------- Container -------------------- */

main {
  height: 100vh;
  margin: 0 10%;
  display: flex;
  align-items: center;
  gap: var(--md);
}

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  background-color: antiquewhite;
}

@media screen and (max-width: 1200px) {
  .container {
     display: none;
  }
}

/*--------------------Controls--------------------*/

.controls-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  gap: 1em;
}

/* button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3.2em;
  cursor: pointer;
  transition: 0.1s;
  user-select: none;

  background-color: var(--white);
  border: var(--border-grey);
  border-radius: 0.4em;
  box-shadow: var(--boxshadow);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
} */

button:hover {
  border: var(--border-grey);
  box-shadow: var(--boxshadow-hover);
  transform: translateY(2px);
  transition: 0.1s;
}

button:active {
  border: var(--border-grey);
  box-shadow: var(--boxshadow-active);
  transform: translateY(4px);
}

.text-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3.2em;
  user-select: none;

  background-color: var(--error);
  border: var(--border-error);
  border-radius: 0.4em;
  box-shadow: var(--boxshadow);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--white);
}

.text-sucess {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3.2em;
  user-select: none;

  background-color: var(--sucess);
  border: var(--border-sucess);
  border-radius: 0.4em;
  box-shadow: var(--boxshadow);

  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--white);
}

/*--------------------Content--------------------*/

#stop {
  width: 24em;
  margin-top: 2em;
}

.game-container {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.stats-container {
  width: 100%;
  text-align: right;
  margin-bottom: 2em;
}

.stats-container span {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 6em;
  height: 6em;
  cursor: pointer;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-grey);

  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}

.card-before {
  background-color: var(--background-color) ;
  font-size: 2.8em;
  font-weight: 600;
  user-select: none;
}

.card-after {
  background-color: var(--white);
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.hide {
  display: none;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}