@import url("root.css");

/* -------------------- Header -------------------- */

header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.btn-icon {
  padding: 0px;
  width: 56px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
  padding: 0 var(--md);
}

.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
}

@media screen and (max-width: 600px) {
  h3 {
    display: none;
  }
}

/* -------------------- Container -------------------- */

.wrapper {
    box-sizing: content-box;
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

.input-group {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto;
    margin: var(--md) 0;
    column-gap: var(--xs);
    gap: var(--xs);
  }
  
  .input-box {
    font-size: 20px;
    width: 56px;
    height: 56px;
    text-align: center;
    display: block;
    border: 1px solid var(--color-dark);
    line-height: 1;
    text-transform: uppercase;
    padding: 0px;
}

.input-box:disabled {
    color: var(--color-dark);
}

.correct {
    background-color: var(--color-success);
}

.exists {
    background-color: var(--color-warning);
}

.incorrect {
    background-color: var(--color-error);
}

.win-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: var(--color-light);
}

.hide {
    display: none;
}

@media screen and (max-width: 700px) {
    .wrapper {
    flex-direction: column;
    transform: translateX(-50%);
    left: 50%;
    top: 0.5em;
    }
}

/* -------------------- Message -------------------- */

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--md);
  gap: var(--xs);
}

.win-msg {
  color: var(--color-success);
}

.lose-msg {
  color: var(--color-error);
}