/*--------------------Root--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {

    /*Colors*/
    --primary-color: #0074ef;
    --text-color: #333333;
    --background-color: #ece6de;
    --white: #ffffff;
    --alternative: #f5f5f5;

    --sucess: #2D842D;
    --error: #C53737;

    /*games*/
    --gameMemory-color: #ef476f;
    --gameLinguage-color: #9d7cff;

    /*Paragraph*/
    --font-size: 18px;
    --font-weight: 500;

    /*Elements*/
    --border-grey: 2px solid #333333;
    --border-error: 2px solid #6D1F1F;
    --border-sucess: 2px solid #194A19;

    --boxshadow: 6px 6px #00000080;
    --boxshadow-hover: 4px 4px #00000080;
    --boxshadow-active: 2px 2px #00000080;
    --box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    --border-radius: 0.5em;

}

/*--------------------PreSets--------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

/* Titles */

h1 {
    font-family: "Courier Prime", sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    color: var(--primary-color);
    user-select: none;
}

h2 {
    font-size: 6em;
    font-weight: bold;
    user-select: none;
    line-height: 0.9;
}

h3 {
    font-size: 1.75em;
    font-weight: bold;
    user-select: none;
}

h4 {
    font-size: 2em;
    font-weight: 600; 
    user-select: none;
}

h5 {
    font-size: 1.25em;
    font-weight: 600;    
    user-select: none;
}

h6 {
    font-size: 1em;
    font-weight: 600;     
    user-select: none;
}

/* Buttons */
.primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.2em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
  
    background-color: var(--primary-color);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--white);
}
  
.primaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}
  
.primaryButton:active {
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
    transition: 0.1s;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.2em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
  
    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);
  
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
  
.secondaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}
  
.secondaryButton:active {
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
    transition: 0.1s;
}

/*--------------------Header--------------------*/

.header {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
} 

/*--------------------Hanking--------------------*/

.folder {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5em;
    margin-bottom: 8em;
    gap: 2em;
    height: 360px;
}

.container-pontuation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em 5em;
    width: 100%;    
    box-sizing: content-box;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.8em;
    box-shadow: 10px 10px #00000080;
}

.pontuation {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: none;
    width: 100%;
}

.image {
    width: 16em;
    height: 16em;
}

.container-ranking {
    padding: 2em;
    width: 35em;
    box-sizing: content-box;
    gap: 1.2em;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.8em;
    box-shadow: 10px 10px #00000080;
}

.ranking {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 1.2em;
}

.position {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.position-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    border-radius: 100%;
}

#gold {
    background-color: #ffd700;
}

#silver {
    background-color: #c0c0c0;
}

#bronze {
    background-color: #cd7f32;
}

#see-hanking {
    text-align: center;
}

/*--------------------Cards--------------------*/

.games {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 8em;
    gap: 2em;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

#gameMemory {
    background-color: var(--gameMemory-color);
}

#gameLinguage {
    background-color: var(--gameLinguage-color);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 10em;
    height: 10em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-align: center;
}

.card:hover {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}

.card:active {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
}

/*--------------------Cards--------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
    border-top: var(--border-grey);
    padding: 4em 12%;
    
}