@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {

    /*Colors*/
    --primary-color: #0074ef;
    --text-color: #333333;
    --placehoder-color: #999999;
    --background-color: #ece6de;
    --white: #ffffff;
    --alternative: #f5f5f5;

    --sucess: #2D842D;
    --error: #C53737;

    /*games*/
    --gameMemory-color: #ef476f;
    --gameLinguage-color: #9d7cff;

    /*Paragraph*/
    --font-size: 16px;
    --label-size: 14px;
    --font-weight: 500;

    /*Elements*/
    --border-grey: 2px solid #333333;
    --border-error: 2px solid #6D1F1F;
    --border-sucess: 2px solid #194A19;

    --boxshadow: 4px 4px #00000040;
    --boxshadow-hover: 2px 2px #00000040;
    --boxshadow-container: 8px 8px #00000040;
    --border-radius: 8px;
}

/*-------------------- PreSets --------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

/* Titles */

h1 {
    font-size: 96px;
    font-weight: bold;
    color: var(--text-color);
    user-select: none;
}

h2 {
    font-size: 64px;
    font-weight: bold;
    user-select: none;
    line-height: 0.9;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    color: var(--primary-color);
    user-select: none;
}

h4 {
    font-size: 36px;
    font-weight: bold;
    user-select: none;
}

h5 {
    font-size: 32px;
    font-weight: 600;
    user-select: none;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    user-select: none;
}

/* Text */

p {
    display: block;
    font-size: var(--text-size);
    font-weight: var(--font-weight);
}

label {
    display: block;
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: var(--label-size);
    font-weight: var(--font-weight);
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-size: var(--label-size);
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

/* Buttons */

.primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;

    margin-top: 8px;
    background-color: var(--primary-color);
    border: var(--border-grey);
    border-radius: 6px;
    box-shadow: var(--boxshadow);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--white);
}

.primaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}

.primaryButton:active {
    box-shadow: none;
    transform: translateY(4px);
    transition: 0.1s;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;

    margin-top: 8px;
    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 6px;
    box-shadow: var(--boxshadow);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--text-color);
}

.secondaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}

.secondaryButton:active {
    box-shadow: none;
    transform: translateY(4px);
    transition: 0.1s;
}

/*-------------------- Header --------------------*/

header {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 32px;
    display: flex;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

/*-------------------- Hanking --------------------*/

.folder {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 32px;
}

.container-pontuation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 80px;
    width: 100%;
    box-sizing: content-box;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 16px;
    box-shadow: var(--boxshadow)
}

.pontuation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: none;
    width: 100%;
}

.pontuation-text {
    display: flex;
    text-align: end;
    align-items: end;
    height: 80px;
    line-height: 1;
}

.image {
    width: 400px;
    height: 400px;
}

.container-hanking {
    padding: 32px;
    width: 450px;
    box-sizing: content-box;
    gap: 24px;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 12px;
    box-shadow: var(--boxshadow);
}

.hanking {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 16px;
}

.position {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.position-ball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

#gold {
    background-color: #ffd700;
}

#silver {
    background-color: #c0c0c0;
}

#bronze {
    background-color: #cd7f32;
}

#see-hanking {
    text-align: center;
}

.text-hanking {
    font-family: 'Josefin Sans' sans-serif;
    font-family: 700;
    color: var(--white);
    font-size: 20px;
}

/*-------------------- Cards --------------------*/

.games {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 32px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

#gameMemory {
    background-color: var(--gameMemory-color);
}

#gameLinguage {
    background-color: var(--gameLinguage-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 160px;
    height: 160px;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
    gap: 4px;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);
    text-align: center;
}

.card:hover {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}

.card:active {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
}

#icon {
    font-size: 50px;
    color: var(--white);
}

.card-text {
    font-size: var(--label-size);
    font-weight: var(--font-weight);
    color: var(--white);
}

/*-------------------- Footer --------------------*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 12%;
    margin-top: 50px;
    border-top: var(--border-grey);
    background-color: var(--white);
}

.copyright {
    font-size: var(--label-size);
}