/*--------------------Root--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {

    /*Colors*/
    --primary-color: #0074ef;
    --text-color: #333333;
    --background-color: #f2f2f2;
    --white: #ffffff;
    --alternative: #f5f5f5;

    --sucess: #2D842D;
    --error: #C53737;

    /*H1*/
    --h1-size: 2em;
    --h1-weight: bold;

    /*H4*/
    --h1-size: 1.8em;
    --h1-weight: 500;

    /*Paragraph*/
    --font-size: 18px;
    --font-weight: 500;

    /*Elements*/
    --border-grey: 2px solid #333333;
    --border-error: 2px solid #6D1F1F;
    --border-sucess: 2px solid #194A19;

    --boxshadow: 6px 6px #00000080;
    --boxshadow-hover: 4px 4px #00000080;
    --boxshadow-active: 2px 2px #00000080;
    --box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
    --border-radius: 0.5em;

}

/*--------------------PreSets--------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

/* Titles */

h1 {
    font-family: "Courier Prime", sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    color: var(--primary-color);
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.75em;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    font-weight: 600; 
}

h5 {
    font-size: 1.25em;
    font-weight: 600; 
}

h6 {
    font-size: 1em;
    font-weight: 600; 
}

/* Buttons */
.primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.2em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
  
    background-color: var(--primary-color);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: var(--white);
}
  
.primaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}
  
.primaryButton:active {
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
    transition: 0.1s;
}

.secondaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 3.2em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;
  
    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);
  
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}
  
.secondaryButton:hover {
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}
  
.secondaryButton:active {
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
    transition: 0.1s;
}

/*--------------------Header--------------------*/

.header {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2em;
    display: flex;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
} 




















/*--------------------Cards--------------------*/

.games {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10em;
    height: 10em;
    cursor: pointer;
    transition: 0.1s;
    user-select: none;

    background-color: var(--white);
    border: var(--border-grey);
    border-radius: 0.4em;
    box-shadow: var(--boxshadow);

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-align: center;
}

.card:hover {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-hover);
    transform: translateY(2px);
    transition: 0.1s;
}

.card:active {
    border: var(--border-grey);
    box-shadow: var(--boxshadow-active);
    transform: translateY(4px);
}