@import url('root.css');

header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-color: var(--color-grey);
}

main {
    width: 100%;
    padding: var(--lg) 10%;
}

.space {
    margin-top: var(--md);
}

button {
    margin-bottom: var(--md);
}

h4 {
    margin-top: var(--lg);
}

p {
    margin-top: var(--xs);
}

ul {
    margin-top: var(--xs);
}

li {
    margin-top: var(--xs);
    font-size: 18px;
    color: var(--color-dark);
}