@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* -------------------- PreSets -------------------- */
:root {
    /* Colors */
    --color-green: #B9FF66;
     /* 7DDF64 */
    --color-dark: #191A23;
    --color-grey-dark: #A1A2B2;
    --color-grey: #F3F3F3;
    --color-light: #FFFFFF;

    --color-sucess: #43aa8b;
    --color-warning: #f9c74f;
    --color-error: #f94144;

    /* Sizes */
    --xs: 10px;
    --sm: 20px;
    --md: 30px;
    --lg: 40px;
    --xl: 120px;

    /* Boxshadows */
    --boxshadow: 0 2px #191A23;
    --boxshadow-lg: 0 4px #191A23;
}

* {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light);
}

section {
    padding: 0 10%;
}

@media screen and (max-width: 600px) {
    section {
        padding: 0 var(--sm);
    }
}

/* -------------------- Text -------------------- */

h1 {
    font-size: 60px;
    font-weight: 500;
    user-select: none;
    line-height: 1;
    color: var(--color-dark);
}

h2 {
    font-size: 40px;
    font-weight: 500;
    user-select: none;
    line-height: 1;
    color: var(--color-dark);
}

h3 {
    font-size: 30px;
    font-weight: 500;
    user-select: none;
    line-height: 1;
    color: var(--color-dark);
}

h4 {
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    line-height: 1;
    color: var(--color-dark);
}

p, button, a {
    font-size: 18px;
    font-weight: 400;
    user-select: none;
    line-height: 1.3;
    color: var(--color-dark);
    text-decoration: none;
}

label {
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    line-height: 1;
    color: var(--color-dark);
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 43px;
        font-weight: 500;
        user-select: none;
        line-height: 1;
        color: var(--color-dark);
    }
    
    h2 {
        font-size: 36px;
        font-weight: 500;
        user-select: none;
        line-height: 1;
        color: var(--color-dark);
    }
    
    h3 {
        font-size: 26px;
        font-weight: 500;
        user-select: none;
        line-height: 1;
        color: var(--color-dark);
    }
    
    h4 {
        font-size: 18px;
        font-weight: 500;
        user-select: none;
        line-height: 1;
        color: var(--color-dark);
    }
    
    p, button, a {
        font-size: 16px;
        font-weight: 400;
        user-select: none;
        line-height: 1.3;
        color: var(--color-dark);
        text-decoration: none;
    }
    
    label {
        font-size: 14px;
        font-weight: 400;
        user-select: none;
        line-height: 1;
        color: var(--color-dark);
    }
}

/* -------------------- Buttons -------------------- */

.btn-default {
    height: 56px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.btn-default:hover {
    box-shadow: none;
    transform: translateY(2px);
}

/* -------------------- */

.btn-green {
    height: 56px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-green);
    color: var(--color-dark);
    border: none;
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.btn-green:hover {
    box-shadow: none;
    transform: translateY(2px);
}

/* -------------------- */

.btn-border {
    height: 56px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.btn-border:hover {
    box-shadow: none;
    transform: translateY(2px);
}

/* -------------------- */

.btn-ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    background-color: transparent;
    border: none;
    font-size: 18px;
    color: var(--color-dark);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.btn-ghost:hover {
    color: var(--color-green);
}

/* -------------------- Error -------------------- */

.error {
    height: 56px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-error);
    color: var(--color-light);
    border: none;
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

/* -------------------- Title -------------------- */

.title-col{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title-green {
    width: fit-content;
    padding: 0px 12px;

    background-color: var(--color-green);
    color: var(--color-dark);
    border-radius: 6px;
    line-height: 1.2;
}

/* -------------------- */

.title-dark {
    width: fit-content;
    padding: 0px 12px;

    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 6px;
    line-height: 1.2;
}

/* -------------------- */

.title-light {
    width: fit-content;
    padding: 0px 12px;

    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 6px;
    line-height: 1.2;
}

/* -------------------- Title -------------------- */

.open-container {
    display: flex;
    align-items: center;
    gap: 16px;
} 

.open-green {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    border-radius: 50%;
}

.open-green i {
    font-size: 1rem;
    rotate: 45deg;
    color: var(--color-green);
}

/* -------------------- */

.open-dark {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border-radius: 50%;
}

.open-dark i {
    font-size: 1rem;
    rotate: 45deg;
    color: var(--color-dark);
}

/* -------------------- */

.open-light {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    border-radius: 50%;
}

.open-light i {
    font-size: 1rem;
    rotate: 45deg;
    color: var(--color-light);
}

/* -------------------- Input -------------------- */

input {
    height: 56px;
    padding: 0 var(--sm);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    border-radius: 10px;
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

input::placeholder {
    color: var(--color-grey-dark);
}

input:hover {
    box-shadow: none;
    transform: translateY(2px);
}

input:focus {
    outline: none;
    box-shadow: none;
    transform: translateY(2px);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-green);
}
