@import url('root.css');

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

/* -------------------- Image -------------------- */

.container {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 60%;
    height: fit-content;
}

/* -------------------- Content -------------------- */

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 500px;
    padding: var(--md);
    /* background-color: var(--color-grey);
    border-radius: var(--sm);
    box-shadow: var(--boxshadow-lg); */
}

form h2 {
    margin-top: var(--sm);
    margin-bottom: var(--sm);
}

form label {
    margin-left: 4px;
}

form label span {
    color: var(--color-error);
}

form input {
    width: 100%;
    margin-bottom: var(--sm);
}

form p {
    margin-left: 4px;
    font-size: 16px;
}

form a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 16px;
}

form a:hover {
    color: var(--color-green);
}

form .btn-green {
    width: 100%;
    margin-top: var(--sm);
}

.footer {
    margin-top: var(--md);
}