@import url('root.css');

main {
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
}

.title-content {
  display: flex;
  align-items: center;
  gap: var(--sm);
}

@media screen and (max-width: 1000px) {
  .title-content {
      flex-direction: column;
      gap: var(--xs);
  }
}

/* -------------------- Header -------------------- */

header {
  height: 100px;
  width: 100%;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--color-light);
}

.navbar {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--md);
}

.btn-icon {
  padding: 0px;
  width: 56px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
  padding: 0 var(--md);
}

.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
}

@media screen and (max-width: 600px) {
  header h3 {
    display: none;
  }
}

/* -------------------- Edit -------------------- */

#edit {
  display: flex;
  flex-direction: column;
  margin-top: var(--lg);
  padding: var(--md) var(--lg);
  gap: var(--sm);

  border-radius: var(--sm);
  background-color: var(--color-light);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-dark);
  box-shadow: var(--boxshadow-lg);
}

.form {
  display: flex;
  align-items: end;
  gap: var(--md);
}

.inp-content {
  width: 100%;
}

.inp-content input {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .form {
      flex-direction: column;
  }

  .form button {
    width: 100%;
  }
}

/* -------------------- Pontuation -------------------- */

#pontuation {
  margin-top: var(--lg);
  padding: 0px !important;
  padding-top: var(--lg);
  display: flex;
  flex-direction: column;
}

.pontuation-container {
  margin-top: var(--md);
  height: 240px;
  width: 100%;
  display: flex;
  align-items: center;

  background-color: var(--color-dark);
  border-radius: var(--sm);
}

.pontuation-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--lg);
  gap: var(--xs);
}

.pontuation-content p {
  color: var(--color-light);
}

.pontuation-content h1 {
  color: var(--color-green);
}

.divider-vertical{
  width: 1px;
  height: 160px;

  background-color: var(--color-grey);
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  .pontuation-container {
      height: auto;
      flex-direction: column;
      padding: 0 var(--lg);
  }

  .divider-vertical{
      width: 100%;
      height: 1px;
  }
}

/* -------------------- Info -------------------- */

#info {
  margin-top: var(--lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--md) var(--lg);

  text-align: center;
  border-radius: var(--sm);
  background-color: var(--color-green);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-dark);
  box-shadow: var(--boxshadow-lg);
}

#info span {
  margin-top: var(--xs);
  font-size: 20px;
  font-weight: 500;
  user-select: text !important;
}

/* -------------------- Footer -------------------- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: var(--xl);
    padding: var(--lg);
    gap: var(--lg);

    background-color: var(--color-dark);
    border-top-left-radius: var(--sm);
    border-top-right-radius: var(--sm);
    color: var(--color-light);
}

footer p, footer a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-light);
}

footer a:hover {
  color: var(--color-green);
}

@media screen and (max-width: 1000px) {
    footer {
        margin: 0px;
        margin-top: var(--lg);
        padding: var(--lg) 10%;
        width: 100%;
        border-radius: 0px;
    }
    
    .navbar-footer {
        justify-content: center;
    }
    
    .nav-list-footer {
        display: none;
    }
    
    .policy {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--lg);
    }
    
    .policy p, .policy a {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: var(--lg) var(--sm);
    }
}

/* -------------------- Messages -------------------- */

.messages {
  position: fixed;
  top: var(--md);
  right: var(--md);
  height: 56px;
  padding: 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  font-size: 18px;
  background-color: var(--color-error);
  color: var(--color-light);
  border: none;
  border-radius: var(--xs);
  box-shadow: var(--boxshadow);

  list-style: none;
  text-decoration: none;
  user-select: none;
}

.messages i {
  font-size: 1.25rem;
}

.hide {
  display: none;
}