@import url('root.css');
@import url('animations.css');

.hide {
    display: none;
}

/* -------------------- Header -------------------- */

header {
    display: none;
}
/* header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
} */

/* -------------------- Container -------------------- */

main {
    height: 100vh;
    margin: 0 10%;
    display: flex;
    align-items: center;
    gap: var(--md);
}

.container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 60%;
    height: fit-content;
}

@media screen and (max-width: 1200px) {
    .container {
       display: none;
    }
}

/* -------------------- Content -------------------- */

.content {
    width: 40%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

form {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sm);
}

/* form .btn-ghost {
    margin-bottom: var(--sm);
} */

.title-content{
    display: flex;
    flex-direction: column;
}

.inp-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inp-content label {
    margin-left: 4px;
}

.inp-content label span {
    color: var(--color-error);
}

.inp-content input {
    width: 100%;
}

.error-message {
    margin-left: 4px;
    font-size: 16px;
    color: var(--color-error);
}

form p {
    margin-left: 4px;
    font-size: 14px;
}

form a {
    text-decoration: underline;
    color: var(--color-dark);
    font-size: 14px;
}

form a:hover {
    color: var(--color-green);
}

form .btn-green {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .content {
       width: 100%;
    }

    form .btn-ghost {
        display: none;
    }
}

/* -------------------- Messages -------------------- */

.messages {
    position: fixed;
    top: var(--md);
    right: var(--md);
    height: 56px;
    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-size: 18px;
    background-color: var(--color-error);
    color: var(--color-light);
    border: none;
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    list-style: none;
    text-decoration: none;
    user-select: none;
}

.messages i {
    font-size: 1.25rem;
}