@import url('root.css');

/* -------------------- Header -------------------- */

header {
    width: 100%;
    height: 80px;
    background-color: var(--color-grey);
}

/* -------------------- Main -------------------- */

main {
    flex: 1;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 60%;
    height: fit-content;
}

@media screen and (max-width: 1200px) {
    .container {
       display: none;
    }
}

/* -------------------- Content -------------------- */

.content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 500px;
    padding: var(--md);
}

form h2 {
    margin-bottom: var(--sm);
}

form .btn-ghost {
    margin-bottom: var(--sm);
}

form label {
    margin-left: 4px;
}

form label span {
    color: var(--color-error);
}

form input {
    width: 100%;
    margin-bottom: var(--sm);
}

form p {
    margin-left: 4px;
    font-size: 16px;
}

form a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 16px;
}

form a:hover {
    color: var(--color-green);
}

form .btn-green {
    width: 100%;
    margin-top: var(--sm);
}

.footer {
    margin-top: var(--md);
}

@media screen and (max-width: 1200px) {
    .content {
       width: 100%;
    }

    form .btn-ghost {
        display: none;
    }
}