{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da memória</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/memory.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="stats-container">
        <div id="moves-count"></div>
        <div id="time"></div>
      </div>
      <div class="game-container"></div>
      <button id="stop" class="hide">Sair</button>
    </div>
    <div class="controls-container">
      <p id="result"></p>
      <button id="start">Começar</button>
    </div>
    <script src="memory.js"></script>
  </body>
</html>