@import url("root.css");

/* -------------------- Header -------------------- */

header {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.btn-icon {
  padding: 0px;
  width: 56px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
  padding: 0 var(--md);
}

.flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--md);
}

@media screen and (max-width: 600px) {
  h3 {
    display: none;
  }
}

/* -------------------- Container -------------------- */
  
.container {
    font-size: 16px;
    max-width: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* -------------------- Options -------------------- */

#options-container {
    text-align: center;
}

#options-container div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: var(--md) 0;
    gap: var(--md);
}

#options-container button {
    text-wrap: nowrap;
}

#options-container button:disabled {
    background-color: var(--color-grey-dark);
}

#options-container button.active {
    background-color: var(--color-green);
    color: var(--color-light);
}

/* -------------------- Letter -------------------- */

.letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
}

#letter-container button {
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-style: solid;
    border-width: 1px;
    border-radius: var(--xs);
    box-shadow: var(--boxshadow);

    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

#letter-container button:hover {
    box-shadow: none;
    transform: translateY(2px);
}

#letter-container button:disabled {
    color: var(--color-grey-dark);
    background-color: var(--color-grey);
    border: none;
    box-shadow: none;
    transform: translateY(2px);
}

/* -------------------- Results -------------------- */

.new-game-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--md);
    background-color: var(--color-light);
}

#user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: var(--md) 0 var(--lg) 0;
}

canvas {
    display: block;
    margin: auto;
}

/* -------------------- Message -------------------- */

.message {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--xs);
}

.win-msg {
    color: var(--color-success);
}

.lose-msg {
    color: var(--color-error);
}

.hide {
    display: none;
}