@import url('root.css');
@import url('animations.css');

main {
    display: flex;
    flex-direction: column;
}

.title-content {
    display: flex;
    align-items: center;
    gap: var(--sm);
}

@media screen and (max-width: 1000px) {
    .title-content {
        flex-direction: column;
        gap: var(--xs);
    }
}

/* -------------------- Header -------------------- */

header {
    height: 100px;
    width: 100%;
    padding: 0px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--color-light);
}

.logo-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: var(--xs);
}

.logo-header i {
    font-size: 1.25rem;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--md);
}

.nav-list {
    display: flex;
    list-style: none;
    gap: var(--sm);
}

.nav-item a {
    text-decoration: none;
    color: var(--color-dark);
}

.nav-item {
    padding: 4px var(--xs);
    border-radius: 6px;
    transition: 0.2s;
}

.nav-item:hover {
    background-color: var(--color-grey);
}

.nav-item.active {
    background-color: var(--color-green);
} 

#btn-mobile {
    display: none;
}

#menu-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-list, #small {
        display: none;
    }

    #btn-mobile {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.25rem;
        color: var(--color-dark);
        cursor: pointer;
    }

    #menu-mobile.active {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: var(--sm) 10%;
        padding-bottom: var(--lg);
        background-color: var(--color-light);
    }

    #nav-list-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--sm);
        margin-bottom: var(--sm);
    }

    .nav-item {
        padding: 0px;
    }    

    #nav-list-mobile .nav-item {
        width: 100%;
        list-style: none;
        text-align: center;
    } 

    #menu-mobile button, #menu-mobile a {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 0 var(--sm);
    }

    #menu-mobile.active {
        padding: var(--sm);
        padding-bottom: var(--lg);
    }
}

/* -------------------- Home -------------------- */

#home {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 80px);
    position: relative;
    padding-bottom: 80px;
}

.cta {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.cta .title {
    color: var(--color-dark);
    line-height: 1;
}

.cta .description {
    margin-top: var(--xs);
    max-width: 500px;
}

.cta-buttons {
    margin-top: var(--md);
    display: flex;
    gap: var(--md);
}

.cta-buttons a {
    text-decoration: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    z-index: 2;
}

.banner img {
    width: 100%;
    height: fit-content;
}

@media screen and (max-width: 1500px) {
    .banner, .banner img {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    #home {
        min-height: 100vh;
        padding-top: 0px;
    }

    .cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .cta-buttons {
        flex-direction: column;
    }
}

/* -------------------- Games -------------------- */

#games {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: var(--lg);
}

.cards-games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: var(--md);
}

.card-games {
    height: 240px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--md);

    border-radius: var(--sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    box-shadow: var(--boxshadow-lg);
    transition: 0.2s;
}

.card-games:hover {
    box-shadow: none;
    transform: translateY(4px);
}

#green {
    background-color: var(--color-green);
}

#dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

#light {
    background-color: var(--color-grey);
}

@media screen and (max-width: 1000px) {
    #games {
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .cards-games {
        display: flex;
        flex-direction: column;
    }

    .card-games {
        width: 100%;
        height: 240px;
    }
}

/* -------------------- Pontuation -------------------- */

#pontuation {
    padding-top: var(--xl);
    display: flex;
    flex-direction: column;
}

.pontuation-container {
    margin-top: var(--md);
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: var(--color-dark);
    border-radius: var(--sm);
}

.pontuation-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--lg);
    gap: var(--xs);
}

.pontuation-content p {
    color: var(--color-light);
}

.pontuation-content h1 {
    color: var(--color-green);
}

.divider-vertical{
    width: 1px;
    height: 160px;

    background-color: var(--color-grey);
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .pontuation-container {
        height: auto;
        flex-direction: column;
        padding: 0 var(--lg);

    }

    .divider-vertical{
        width: 100%;
        height: 1px;
    }
}

/* -------------------- Position -------------------- */

.positions {
    margin-top: var(--md);
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.position-1,
.position-2,
.position-3 {
    display: flex;
    align-items: center;
    padding: var(--sm) var(--lg);
    gap: var(--md);

    border-radius: var(--sm);
    background-color: var(--color-green);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    box-shadow: var(--boxshadow-lg);
}

/* -------------------- Team -------------------- */

#code {
    padding-top: var(--xl);
    display: flex;
    flex-direction: column;
    position: relative;
}

.cards-team {
    margin-top: var(--md);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: var(--md);
}

.card-team {
    height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: var(--md);
    gap: var(--md);

    background-color: var(--color-light);
    border-radius: var(--sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-dark);
    box-shadow: var(--boxshadow-lg);
    text-align: start;
    transition: 0.2s;
}

.card-team:hover {
    box-shadow: none;
    transform: translateY(4px);
}

.card-team-content {
    display: flex;
    align-items: end;
    gap: var(--md);
}

.card-team-content img {
    width: 100px;
    height: 100px;
}

.card-team-col {
    position: relative;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--xs);
}

.card-team-content i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: var(--color-dark);
    align-self: start;
}

.divider-dark{
    width: 100%;
    height: 1px;
    background-color: var(--color-dark);
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    #code {
        align-items: center;
    }

    .cards-team {
        display: flex;
        flex-direction: column;
    }

    .car-team {
        width: 100%;
        height: 240px;
    }
}

/* -------------------- Code -------------------- */

.code-container {
    margin-top: var(--xl);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: var(--lg);

    background-color: var(--color-grey);
    border-radius: var(--sm);
}

.code-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.code-content p {
    margin-top: var(--xs);
}

.code-content a {
    margin-top: var(--md);
}

.code-image {
    height: 0px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-image img {
    width: 100%;
    height: fit-content;
    max-height: 300px;
}

@media screen and (max-width: 1000px) {
    #code {
        align-items: center;
        text-align: center;
    }

    .code-container {
        margin-top: var(--md);
    }
    
    .code-content {
        width: 100%;
    }

    .code-image {
        display: none;
    }

    .code-container p {
        max-width: 100%;
    }

    .code-container a {
        width: 100%;
    }
}

/* -------------------- Footer -------------------- */

footer {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    margin-top: var(--xl);
    padding: var(--lg);
    gap: var(--lg);

    background-color: var(--color-dark);
    border-top-left-radius: var(--sm);
    border-top-right-radius: var(--sm);
    color: var(--color-light);
}

.logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: var(--xs);
    color: var(--color-green) ;
}

.logo-footer h4 {
    color: var(--color-green);
}

.logo-footer i {
    font-size: 1.25rem;
}

footer a:hover {
    color: var(--color-green);
}

.navbar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--sm);
}

.nav-list-footer {
    display: flex;
    list-style: none;
    gap: var(--lg);
}

.nav-item-footer a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 16px;
}

.divider-horizontal{
    width: 100%;
    height: 1px;
    background-color: var(--color-grey);
    border-radius: 50%;
}

.policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--sm);
}

.policy p, .policy a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-light);
}

@media screen and (max-width: 1000px) {
    footer {
        margin: 0px;
        margin-top: var(--lg);
        padding: var(--lg) 10%;
        width: 100%;
        border-radius: 0px;
    }
    
    .navbar-footer {
        justify-content: center;
    }
    
    .nav-list-footer {
        display: none;
    }
    
    .policy {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--lg);
    }
    
    .policy p, .policy a {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: var(--lg) var(--sm);
    }
}
