@import url('root.css');
@import url('animations.css');

main {
    display: flex;
    flex-direction: column;
}

.title-content {
    display: flex;
    align-items: center;
    gap: var(--sm);
}

@media screen and (max-width: 1000px) {
    .title-content {
        flex-direction: column;
        gap: var(--xs);
    }
}

/* -------------------- Pontuation -------------------- */

#pontuation {
    padding-top: var(--xl);
    display: flex;
    flex-direction: column;
}

.pontuation-container {
    margin-top: var(--md);
    height: 240px;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: var(--color-dark);
    border-radius: var(--sm);
}

.pontuation-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--lg);
    gap: var(--xs);
}

.pontuation-content p {
    color: var(--color-light);
}

.pontuation-content h1 {
    color: var(--color-green);
}

.divider-vertical{
    width: 1px;
    height: 160px;

    background-color: var(--color-grey);
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    .pontuation-container {
        height: auto;
        flex-direction: column;
        padding: 0 var(--lg);

    }

    .divider-vertical{
        width: 100%;
        height: 1px;
    }
}

/* -------------------- Footer -------------------- */

footer {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    margin-top: var(--xl);
    padding: var(--lg);
    gap: var(--lg);

    background-color: var(--color-dark);
    border-top-left-radius: var(--sm);
    border-top-right-radius: var(--sm);
    color: var(--color-light);
}

.logo-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: var(--xs);
    color: var(--color-green) ;
}

.logo-footer h4 {
    color: var(--color-green);
}

.logo-footer i {
    font-size: 1.25rem;
}

footer a:hover {
    color: var(--color-green);
}

.navbar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--sm);
}

.nav-list-footer {
    display: flex;
    list-style: none;
    gap: var(--lg);
}

.nav-item-footer a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 16px;
}

.divider-horizontal{
    width: 100%;
    height: 1px;
    background-color: var(--color-grey);
    border-radius: 50%;
}

.policy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--sm);
}

.policy p, .policy a {
    font-size: 16px;
    text-decoration: none;
    color: var(--color-light);
}

@media screen and (max-width: 1000px) {
    footer {
        margin: 0px;
        margin-top: var(--lg);
        padding: var(--lg) 10%;
        width: 100%;
        border-radius: 0px;
    }
    
    .navbar-footer {
        justify-content: center;
    }
    
    .nav-list-footer {
        display: none;
    }
    
    .policy {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: var(--lg);
    }
    
    .policy p, .policy a {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: var(--lg) var(--sm);
    }
}