/*--------------------PreSets--------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

body {
    background-color: #7786f5;
}

.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.5em;
    box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
  }



























  .controls-container {
    background-color: #7786f5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
  }
  #start {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
  }
  #letter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 0.4em;
    justify-content: center;
    margin-top: 2em;
  }
  #letter-container button {
    background-color: #ffffff;
    border: 2px solid #7786f5;
    color: #7786f5;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 3em;
    width: 3em;
  }
  #letter-container .correct {
    background-color: #008000;
    color: #ffffff;
    border: 2px solid #008000;
  }
  #letter-container .incorrect {
    background-color: #8a8686;
    color: #ffffff;
    border: 2px solid #8a8686;
  }
  .hint-ref {
    margin-bottom: 1em;
  }
  .hint-ref span {
    font-weight: 600;
  }
  #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
  }
  #word {
    font-weight: 600;
    margin: 1em 0 2em 0;
  }
  #word span {
    text-transform: uppercase;
    font-weight: 400;
  }
  .hide {
    display: none;
  }